.NIGHT .bg-night-black {
  background: black !important;
}

.NIGHT .bg-night-dark {
  background: #343a40 !important
}

.NIGHT {
  color: white;
}

.player img {
  background: white;
}

.NIGHT .player img {
  background: #AAA;
}

#main {
  display: flex;
  flex-direction: column;
}
#content-box {
  flex-grow: 1;
}

@media (min-width: 1200px) {
  #content-box {
      max-width: 900px;
  }
}

#grid-and-chat {
  min-height: 7.5cm;
  /* The height of the chat-box is determined by the height of the
  player grid, so it mustn't get too small */
}

#chat-box {
  overflow-y: scroll;
  font-size: 10pt;
}

.chat-holder {
  max-height: 10cm;
}

@media (min-width: 768px) {
  /* = bootstrap "medium" */
  .chat-holder {
      /* When the chatbox is at the side, lift it out of the flow so
      that its parent gets the height of the grid-and-chat */
      height: 100%;
      position: absolute;
      max-height: none;
  }
}


@media (max-width: 576px) {
  /* = bootstrap "small" */
  .navbar-brand {
    font-size: 1rem;
  }
}

#chat-box p {
  margin: 0
}

/* Footer code */
html {
  position: relative;
  min-height: 100%;
}

#main {
  padding-bottom: 30px;
  /* Margin bottom = footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  /* Set the fixed height of the footer here */
  line-height: 30px;
}