.container {
    padding-top: 2em;
}

.toggle {
    padding: 0.5em 0;
    display: flex;
    align-items:center;
}

.toggle > p {
    margin: 0;
    padding: 0;
    padding-left: 2em;
}

.wideSlider {
    width: 100%;
}
