# Environment variable overrides for local development
DEBUG=true
DATABASE_URL=sqlite:///data.db
GUNICORN_WORKERS=1
SECRET_KEY=not-so-secret
# In production, set to a higher number, like 31556926
SEND_FILE_MAX_AGE_DEFAULT=0

# Log level for python logging module. Note capitals!
LOG_LEVEL=DEBUG

# Set to anything non-blank to output database debugging messages:
DEBUG_DATABASE=true

# Set to anything non-blank to use the production database for testing
# WARNING! This will wipe your database! Use with care.
# IGNORE_TESTING_DB=true
