## Requirements list
#
# requirements.txt contains a frozen version of these,
# generated using `pip-compile` from the `pip-tools` package.

python-dotenv

alembic
sqlalchemy
psycopg2
sqlalchemy_utils
psutil

fastapi[all]
