.night .bg-night-black {
  background: black !important;
}

.night .bg-night-dark {
  background: #343a40 !important
}

.night body {
  color: white;
}

.player img {
  background: white;
}

.night .player img {
  background: #AAA;
}

@media (min-width: 1200px) {
  .limited-width {
      max-width: 900px;
  }
}

#player-grid {
  min-height: 7.5cm;
  /* The height of the chat-box is determined by the height of the
  player grid, so it mustn't get too small */
}

#chat-box {
  overflow-y: scroll;
  font-size: 10pt;
}

.chat-holder {
  max-height: 10cm;
}

@media (min-width: 768px) {

  /* = bootstrap "medium" */
  .chat-holder {
      /* When the chatbox is at the side, lift it out of the flow so
      that its parent gets the height of the player-grid */
      height: 100%;
      position: absolute;
      max-height: none;
  }
}

#chat-box p {
  margin: 0
}

/* Footer code */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
  /* Margin bottom = footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  /* Set the fixed height of the footer here */
  line-height: 30px;
}